// Контейнер

@mixin make-max-width-container($max-widths: $container-max-widths, $breakpoints: $grid-breakpoints) {
    margin: 0 auto;
    max-width: 179rem;
    padding-left: $grid-gap-side;
    padding-right: $grid-gap-side;

    @each $breakpoint, $max-width in $max-widths {

        //Генерация при mobile-first -- @include media-breakpoint-up
        @include media-breakpoint-down($breakpoint, $breakpoints) {
            max-width: $max-width;
        }
    }
}

// Ряд сетки

@mixin row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -$grid-gap-side;
    margin-right: -$grid-gap-side;

    >* {
        width: 100%;
        max-width: 100%;
        margin-left: $grid-gap-side;
        margin-right: $grid-gap-side;
    }
}

//Фиксированная колонка

@mixin col($size) {
    flex: 0 0 auto; // 1) flex-grow - распределение пропорций свободного пространства родительского блока. 
    //если всем задать "1", то все элементы будут одинаковые и заполнят все место; 
    //2) flex-shrink - коэффициент сжатия. Если "0" - элемент не будет ужиматься в ширину родительского блока 
    //(не работает при включенной команде flex-wrap: wrap); 
    //3) flex-basis - изменение ширины элемента (можно задать для всех эл.);
    width: calc(#{percentage(calc($size / $grid-columns))} - #{$grid-gap});
}