footer.footer 
    .container
        .row 
            .col-2.col-xl-3.col-lg-3.footer__logo
                a(href="#") 
                    img(src="img/logo.png", alt="главная страница")

            nav.col-6.col-xxl-6.col-xl-9.footer__menu
                .footer__menu-1
                    a.footer__menu-1-item(href="#/shops.html") Магазины
                    a.footer__menu-1-item(href="#/restaurants.html") Кафе и рестораны
                    a.footer__menu-1-item(href="#/services.html") Услуги и сервисы
                    a.footer__menu-1-item(href="#/entertainment.html") Развлечения

                .footer__menu-2
                    a.footer__menu-2-item(href="#/about.html") О нас
                    a.footer__menu-2-item(href="#/news.html") События
                    a.footer__menu-2-item(href="#/gallery.html") Галерея
                    a.footer__menu-2-item(href="#/rent.html") Аренда
                    a.footer__menu-2-item(href="#/contacts.html") Контакты
                    a.footer__menu-2-item(href="#/staff.html") Вакансии
                    a.footer__menu-2-item(href="#/tenders.html") Тендеры
                    a.footer__menu-2-item(href="#/politics.html") Политика конфиденци&shy;альности
                    a.footer__menu-2-item(href="#/map.html") Карта ТЦ

            form.col-2.col-xl-3.search.search-f
                input.search__input.search__input-f(
                    type="text",
                    id="search-f",
                    placeholder="Найти магазин",
                    oninput=""
                    )
                label.col-2.search__label(for="search-f")
                button.search__btn(type="submit")
                    img(src="img/loupe.svg", alt="найти магазин")
                
                .socials 
                    a.socials__item(href="https://t.me/sarafan")
                        img(src="img/telegram.svg", alt="наш канал в Telegram")

                    a.socials__item(href="https://vk.com/sarafan")
                        img(src="img/vk.svg", alt="наш профиль Вконтакте")

            .col-2.col-xl-6.col-lg-9.footer__info 
                a.footer__info-item(href="https://maps.app.goo.gl/bX8N3CvdETmX2xaNA") 300041, Тульская обл.,<br>г. Тула, ул. Путейская, д.&nbsp;5
                p.footer__info-item ТЦ Сарафан: 10:00-21:00<br>Лента: 08:00-22:00
                a.footer__info-item(href="tel:+74872338055") +7 &lpar;4872&rpar; 33-80-55