header.header
    .container
        .row
            .col-4.col-xxl-4.col-sm-12.col-xs-12.lll Водка
            .col-8.col-xxl-8.col-sm-12.col-xs-12.lll Блок и рог
            .col-4.col-xxl-4.col-sm-12.col-xs-12.lll Водка
            .col-8.col-xxl-8.col-sm-12.col-xs-12.lll Блок и рог
            .col-4.col-xxl-4.col-sm-12.col-xs-12.lll Водка
            .col-8.col-xxl-8.col-sm-12.col-xs-12.lll Блок и рог
            .col-4.col-xxl-4.col-sm-12.col-xs-12.lll Водка
            .col-8.col-xxl-8.col-sm-12.col-xs-12.lll Блок и рог
            .col-4.col-xxl-4.col-sm-12.col-xs-12.lll Водка
            .col-8.col-xxl-8.col-sm-12.col-xs-12.lll Блок и рог
            .col-4.col-xxl-4.col-sm-12.col-xs-12.lll Водка
            .col-8.col-xxl-8.col-sm-12.col-xs-12.lll Блок и рог
            .col-4.col-xxl-4.col-sm-12.col-xs-12.lll Водка
            .col-8.col-xxl-8.col-sm-12.col-xs-12.lll Блок и рог
            .col-4.col-xxl-4.col-sm-12.col-xs-12.lll Водка
            .col-8.col-xxl-8.col-sm-12.col-xs-12.lll Блок и рог
            .col-4.col-xxl-4.col-sm-12.col-xs-12.lll Водка
            .col-8.col-xxl-8.col-sm-12.col-xs-12.lll Блок и рог
            .col-4.col-xxl-4.col-sm-12.col-xs-12.lll Водка
            .col-8.col-xxl-8.col-sm-12.col-xs-12.lll Блок и рог
            .col-4.col-xxl-4.col-sm-12.col-xs-12.lll Водка
            .col-8.col-xxl-8.col-sm-12.col-xs-12.lll Блок и рог
            .col-4.col-xxl-4.col-sm-12.col-xs-12.lll Водка
            .col-8.col-xxl-8.col-sm-12.col-xs-12.lll Блок и рог